* {
  margin: 0;
  -webkit-user-select: none;
}
*::-webkit-scrollbar {
  width: 0;
}
p {
  font-family: "M PLUS 1", sans-serif;
  font-size: 30px;
}
.backgroundGo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  background-color: #00000080;
}
.backgroundBasket {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  background-color: #00000080;
}
.activeBackground {
  display: block;
}
.readyCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  height: 440px;
}
.readyCart:-webkit-scrollbar {
  width: 0;
}
.cardInBasket {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.imgInBasket {
  display: flex;
  height: 100px;
  cursor: pointer;
}
.description {
  display: flex;
}
.deleteIngredientsInBasket {
  display: flex;
  justify-content: flex-end;
}
.purchaseInBasket {
  display: flex;
  flex-direction: row-reverse;
}
.nameInBasket {
  width: 300px;
}
.ingredientInBasket {
  width: 450px;
}
.positionSumBasket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #fdcfd7;
  display: flex;
  padding: 0 10px 10px;
  align-items: center;
  justify-content: space-between;
}
.piZZa {
  display: flex;
  height: 100px;
  cursor: pointer;
}
.logoPizza {
  font-family: "Fredoka", sans-serif;
  font-size: 70px;
  color: rgb(0, 0, 0);
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.logo {
  display: flex;
}
.buttonPopUp {
  display: flex;
  z-index: 100;
  position: absolute;
  background-color: #fdcfd7;
  border-radius: 10px;
  height: 600px;
  width: 900px;
  flex-direction: column;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.activePopUp {
  display: block;
}
.positionPopUp {
  display: flex;
  justify-content: center;
  align-content: center;
}
.basket {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  padding: 0 17px;
  position: relative;
  gap: 5px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.basket:active {
  transform: translateY(3px);
}
.bag {
  height: 30px;
  cursor: pointer;
}
.right:hover {
  opacity: 100%;
}
.eats {
  height: 50px;
  padding: 0 10px;
}
.collect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-direction: column;
}
.contentAndGo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 0 200px;
}
.go {
  border-radius: 10px;
  font-family: "M PLUS 1", sans-serif;
  font-size: 30px;
  background: #fdcfd7;
  cursor: pointer;
  width: 117px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.go:active {
  transform: translateY(3px);
}
.menu {
  width: 100%;
}
.pop_up {
  display: flex;
  z-index: 100;
  position: absolute;
  background-color: #fdcfd7;
  border-radius: 10px;
  height: 600px;
  width: 900px;
  flex-direction: column;
  display: none;
  overflow: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pop_up::-webkit-scrollbar {
  width: 0;
}
.sumOfIngredients {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.readyPizza {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.addedGoods {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0 10px;
  justify-content: flex-start;
}
.styleProduct {
  width: 132px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.deleteProduct {
  display: flex;
  gap: 20px;
}
.deleteIngredients {
  height: 20px;
  cursor: pointer;
}
.imgReadyPizza {
  height: 100px;
}
.tableOfContents {
  display: flex;
  justify-content: space-around;
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
}
.addIngredients {
  display: flex;
  justify-content: center;
  background: #ffffff;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tableOfIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 15px 0;
}
.product {
  display: flex;
  height: 40px;
  width: 215px;
  justify-content: center;
}
.addIngredients:active {
  transform: translateY(3px);
}
.productPhoto {
  height: 100px;
  width: 100px;
}
.closeBlock {
  display: flex;
  flex-direction: row-reverse;
}
.close {
  padding: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.closePopUp {
  padding: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.makePizza {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.filter {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.filterButton {
  border-radius: 10px;
  font-family: "M PLUS 1", sans-serif;
  font-size: 30px;
  background-color: rgb(253, 207, 215);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.filterButton:active {
  transform: translateY(3px);
}
.active {
  background-color: #fd869bfa;
}
.pizza {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  border: 5px solid #fdcfd7;
  border-radius: 10px;
  cursor: pointer;
  height: 610px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.name {
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  font-size: 30px;
  padding: 0px 10px;
}
.ingredient {
  padding: 10px;
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  font-size: 17px;
  height: 110px;
  width: 350px;
}
.purchase {
  padding: 0px 10px;
  display: flex;
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.add {
  padding: 10px 50px;
  background: #fdcfd7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.add:active {
  transform: translateY(3px);
}
.addPizza {
  font-family: "M PLUS 1", sans-serif;
  font-size: 20px;
  width: 150px;
  height: 45px;
  background: #fdcfd7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}
.addPizza:active {
  transform: translateY(3px);
}
.CostAndProducts {
  padding: 10px;
}
